#仮想環境及びプロジェクトフォルダ
poetry.lock

pyproject.toml

#csvファイルフォルダ
solall

#分散関係のプロット図
Dispersion_Relation.png

#DATACATALOG原本
InSight_CV_Catalog_v3.csv

#画像フォルダ
dailychange_p

neardevil_*s

nearFFT_*s

nearmovingFFT_*s_windowsize*

nearmovingratio_*s_windowsize*

meanFFT_sortedseason_*s

meanFFT_sortedATandWs_*s

meanFFT_sorteddP_*s

meanmovingFFT_dP_*s

#ログテキストファイル
Errorlog*.txt