#仮想環境及びプロジェクトフォルダ
poetry.lock

pyproject.toml

#csvファイルフォルダ
solall

#分散関係のプロット図
Dispersion_Relation.png

#DATACATALOG原本
InSight_CV_Catalog_v3.csv

#画像フォルダ
dailychange_p

neardevil_*s

nearFFT_*s

meanFFT_sortedseason(*

meanFFT_sortedTandWs(*

#ログテキストファイル
Errorlog*.txt