#仮想環境及びプロジェクトフォルダ
poetry.lock

pyproject.toml

#csvファイルフォルダ
solall

#分散関係のプロット図
Dispersion_Relation.png

#DATACATALOG原本
InSight_CV_Catalog_v3.csv

#画像フォルダ(change_p)
dailychange_p

neardevil_*s

ondevil_*s

afterdevil_*s

returnafterdevil_*s

focuschange_p,MUTC=*

#画像フォルダ(nearFFT)
nearFFT_*s

nearmovingFFT_*s_windowsize*

nearratio_*s_windowsize*

nearmovingratio_*s_windowsize*

nearmovingratioresample_*s_windowsize*

meanFFT_season_*s

meanFFT_ATandWs_*s

meanFFT_dP_*s

meanmovingFFT_dP_*s

meanratio_dP_*s

meanmovingratio_dP_*s_windowsize*

#画像フォルダ(nearAS)
nearAS_*s

nearmovingAS_*s_windowsize*

nearASratio_*s_windowsize*

nearASmovingratio_*s_windowsize*

nearASmovingratioresample_*s_windowsize*

meanAS_dP_*s

meanmovingAS_dP_*s

meanASratio_dP_*s

meanASmovingratio_dP_*s_windowsize*

#画像フォルダ(focusFFT)
focusFFT,MUTC=*

focusmovingFFT,MUTC=*_windowsize*

focusratio,MUTC=*_windowsize*

focusmovingratio,MUTC=*_windowsize*


meanfocusFFT,MUTC=*

meanfocusmovingFFT,MUTC=*_windowsize*

meanfocusratio,MUTC=*_windowsize*

meanfocusmovingratio,MUTC=*_windowsize*

#ログテキストファイル
Errorlog*.txt